
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrapps</title>
  </head>
  <style>
    img{
      width:200px;
      height: 200px
    }
  </style>
  <body>
    <h1>What ingredients do you have?</h1>
    <form method = "POST">
      
      <div class="form__fieldset">
        <label for="Ingredients" class="form__label">Ingredients: </label>
        <input type="strings" name="Ingredients" id="Ingredients" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="mealType" class="form__label">Meal: </label>
        <select name="mealType" id="mealType" class="form__input form__select">
          <option value="Enter a meal type">Selection</option> 
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Dessert">Dessert</option>
          <option value="Snacks and Appitizers">Snacks and Appitizers</option>
        </select>
      </div>
      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Submit"
        />
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>URL</th>
          <th>Title</th>
          <th>Image</th>
          <th>Ingredients</th>
        </tr>
      </thead>
      <tbody>
        {% for item in output_data %}
          <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td><img src={{item[2]}} alt = "image"></td>
            <td>{{item[3]}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>