
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal finance</title>
  </head>
  <body>
    <h1>Add transaction</h1>
    <form method = "POST">
      
      <div class="form__fieldset">
        <label for="Ingredients" class="form__label">Ingredients:</label>
        <input type="strings" name="Ingredients" id="Ingredients" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="mealType" class="form__label">Meal</label>
        <select name="mealType" id="mealType" class="form__input form__select">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Dessert">Dessert</option>
          <option value="Snacks and Appitizers">Snacks and Appitizers</option>
        </select>
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Add transaction"
        />
      </div>
    </form>
  </body>
  {% for recipe in ingredients %}
    <h1>{{ingredients.recipe}}</h1>
  {% endfor%}
</html>